<!DOCTYPE html>
<html>
<head>
    <meta charset="ISO-8859-1">
    <title>Main Page</title>
</head>
<body>
<hr/>
<p>hi</p>
<div id="app"></div>
</body>
<!--
<script src="js/lib/angular.min.js"></script>
<script src="js/lib/ui-bootstrap-tpls-2.5.0.min.js"></script>
 -->
<script src="../js/app/app.js"></script>
<script src="../js/app/UserService.js"></script>
<!--
<script src="js/app/UserController.js"></script>
<link rel="stylesheet" href="css/lib/bootstrap.min.css"/>
<link rel="stylesheet" href="css/app/app.css"/>
 -->
</html>
